<!-- Modal -->
<div class="modal fade" id="symbolModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="symbolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="symbolModalLabel">Symbol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="name" data-bind="text: name">
                    </div>
                    <div class="form-group">
                      <label for="code" class="col-form-label">Code:</label>
                      <input type="text" class="form-control" id="code" data-bind="text: code">
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">Code:</label>
                        <input type="number" class="form-control" id="price" data-bind="text: price">
                      </div>
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>