<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div>
                <table id="symbol_table" class="table row-border striped row-hover cell-hover">
                    <thead>
                        <tr class="primary">
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Actions</th>
                            <th>Id</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="addData text-center">
    <button id="createNewSymbol" class="button success">+ Add</button>
</div>

