<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div>
                <table id="symbol_table" class="table row-border striped row-hover cell-hover">
                    <thead>
                        <tr class="primary">
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Actions</th>
                            <th>Id</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div hidden>
    <form id="symbolModal">
        <input type="text" id="name" data-bind='textInput: name' data-role="materialinput"
                data-label="Name"
                placeholder="Eg: Yes Bank Ltd">
        <input type="text" data-bind='textInput: code' data-role="materialinput"
            data-label="Code"
            placeholder="Eg: YESBANK-BE">
        <input type="number" data-bind='textInput: price' data-role="materialinput"
            data-label="Price"
            placeholder="Eg: 93.5">
        <select data-bind=" options: symbolTypes,
            optionsText: 'name',
            optionsValue: 'id',
            value: symbolTypeId">
        </select>
    </form> 
</div>

<div class="addData text-center">
    <button id="createNewSymbol" class="button success">+ Add</button>
</div>

