<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-rounded-corner">
                <table id="symbol_table" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                            <th>Id</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="addData text-center">
    <button id="createNewSymbol" class="btn btn-success" data-toggle="modal" data-target="#symbolModal"> + Add</button>
</div>
