<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>TradeLog</h3>
        </div>

        <ul class="list-unstyled components">
            <p>TradeLog</p>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="Trades.html">Trades</a>
            </li>
            <li>
                <a href="Symbol.html">Scripts</a>
            </li>
            <li>
                <a href="SymbolTypes.html">ScriptTypes</a>
            </li>
            <li>
                <a href="Market.html">Market</a>
            </li>
            <li>
                <a href="About.html">About</a>
            </li>              
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>

        <dynamicpagecontent></dynamicpagecontent>
    </div>
</div>